  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <!-- <a style="text-decoration: none" [routerLink]="['/home']" (click)="showHome()"> -->
      <a style="text-decoration: none" [routerLink]="['']" (click)="showHome()">
        <h5 class="text-white h4">トップページへ</h5>
      </a>
      <br>
      <a style="text-decoration: none" [routerLink]="['/notification']" (click)="showNotification()">
        <h5 class="text-white h4">お知らせ</h5>
      </a>
      <br>
      <h5 class="text-white h4">ログアウト</h5>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>