/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("./assets/中華料理.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
 }

